<div class="userBookings">
    <h1>Booking details for:  <span>{{theUser}}</span></h1>

    {{#each theDetails}}
    <div class="disp" style="border: 1px solid;">
        <p><span>Table name: </span>{{table_name}}</p>
        <P><span>Total capacity: </span>{{capacity}}</P>
        <p><span>Name: </span>{{username}}</p>
        <p><span>Contact: </span>{{contact_number}}</p>
    </div>
    {{/each}}
</div>